_site
.sass-cache
.jekyll-metadata

node_modules

.DS_Store
bower_components/semantic/examples
bower_components/semantic/node_modules
bower_components/semantic/tasks
bower_components/semantic/_site
bower_components/jquery/src
bower_components/fullpage.js/pure javascript (Alpha)
