---
layout: default
permalink: /features/
title: Features
subtitle: Awesome features that powers pegke
---
{% include header.html %}

<div class="ui container">
  {% include blog-header.html %}
</div>

<div class="ui container">
  <div class="main">
    <ul class="cbp-ig-grid">
      <li>
        <a href="javascript:void(0);">
          <!-- <i class="cbp-ig-icon massive gift icon"></i> -->
          <img src="/public/img/stay-loyal.svg" alt="Customer rewards" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Customer rewards</h3>
          <span class="cbp-ig-category">Lift foot traffic during slow hours, generate referrals and boost customer engagement</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/segmentation.svg" alt="Segmentation" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Segmentation</h3>
          <span class="cbp-ig-category">Segment your customer and give them loyalty points they actually deserve.</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/push-message.svg" alt="Push-messages" class="cbp-ig-icon" />
          <h3 class="cbp-ig-title">Push-messages</h3>
          <span class="cbp-ig-category">Send birthday specials, visit reminders and other messages designed to engage your customer base</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/hyper-local.svg" alt="Push-messages" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Hyper-local advertising</h3>
          <span class="cbp-ig-category">Send Push-Message offers to potential customers in your area</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/connect-webpages.svg" alt="Connect web pages" class="cbp-ig-icon" />
          <h3 class="cbp-ig-title">Connect web pages</h3>
          <span class="cbp-ig-category">Add links to your web pages like foursquare, instagram, trip advisor and more</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/social-media.svg" alt="Social media integration" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Social media integration</h3>
          <span class="cbp-ig-category">Connect your facebook and twitter profiles to flok to generate more social activity</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/analytics.svg" alt="Analytics" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Analytics</h3>
          <span class="cbp-ig-category">Track the performance of your campaigns and gain insights on customer activity</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/web-services.svg" alt="Analytics" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Web Services Interface</h3>
          <span class="cbp-ig-category">You can connect your CRM, POS, App or even Games with pegke to give points to your users.</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <img src="/public/img/additional.svg" alt="Social media integration" class="cbp-ig-icon" />

          <h3 class="cbp-ig-title">Additional features</h3>
          <span class="cbp-ig-category">Reviews, pictures, chat, quick-call, directions</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="ui container">
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>

    <h2 class="ui header centered">Why wait? Lets start </h2>

    <div class="ui header big centered">
      <div class="ui animated fade button red huge cta" tabindex="1">
        <div class="visible content">Start your free trial</div>
        <div class="hidden content">
          Free forever
        </div>
      </div>

    </div>

    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>

  </div>

</div>
