---
layout: default
permalink: /how-it-works/
title: How it works
subtitle: Connect with your customers
---
{% include header.html %}

<div class="ui container">
  {% include blog-header.html %}
</div>
<div class="ui container step step-1">
  <div class="ui stackable two column grid secns">
    <div class="column">
      <img class="ui image lazy large" data-src="http://d2ieupl0el5uqe.cloudfront.net/assets/flok_home/secondary/how-it-works-1.png" alt="" />
    </div>
    <div class="column">
      <br> <br> <br>
      <h2 class="ui header">1. Strategize & design your loyalty program</h2>
      <p>
        Spend two minutes in {{ site.productname }} dashboard to decide how to give and redeem points,
        based on various activity hooks. You have options to let {{ site.productname }} manage the
        rewards, your own products, cash discount and mobile recharge.
      </p>
    </div>
  </div>
  <div class="ui stackable two column grid secns">
    <div class="column">
      <br> <br> <br>
      <h2 class="ui header">2. Tell your customers!</h2>
      <p>Tell your customers about your loyalty program and its benefits, since its mobile based in just 15 secs and your customers are in!</p>
      <p>
        The offer will be waiting for them as soon as they engage with your loyalty program, and you can continue the relationship to bring them back in again and again.
      </p>
    </div>
    <div class="column">
      <img class="ui image lazy large" data-src="http://d2ieupl0el5uqe.cloudfront.net/assets/flok_home/secondary/how-it-works-2.png" alt="" />
    </div>
  </div>

  <div class="ui stackable two column grid secns">
    <div class="column">
      <br>
      <img class="ui image lazy large" data-src="http://d2ieupl0el5uqe.cloudfront.net/assets/flok_home/secondary/how-it-works-3.png" alt="" />
    </div>
    <div class="column">
      <br>
      <h2 class="ui header">3. Comprehensive loyalty reporting</h2>
      <p>Now sit back and see how your customers and engaging, get detailed reporting on all major KPIs such as number of registrations (online and offline) and redemptions, the earn-burn reconciliation and more.</p>
    </div>
  </div>

  <div class="ui stackable two column grid secns">

    <div class="column">
      <br> <br>
      <h2 class="ui header">4. More than just points.</h2>
      <p>Present an extra ordinary experience for your customers with real-time rewards, recommendations, coupons and more, ensuring they remain loyal to your brand.</p>
    </div>
    <div class="column">
      <img class="ui image lazy large" data-src="http://d2ieupl0el5uqe.cloudfront.net/assets/flok_home/secondary/how-it-works-3.png" alt="" />
    </div>

  </div>
  <div class="ui divider hidden"></div>
  <div class="ui divider hidden"></div>
</div>
<div class="ui contianer fluid">
  <div class="ui container centered center aligned">
    <h2 class="ui header teal">All the tools you need in one loyalty program.</h2>
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
    <div class="feature-list ui horizontal list">
      <div class="item" data-content="Using pegke at your business, customers earn points which can be redeemed for rewards they’ll love.">
        <i class="trophy huge icon"></i>
        <h4 class="ui header">Loayalty</h4>
      </div>
      <div class="item" data-content="You cand emails to your customers that was actually unimaginalbe with prevois marketing tools.">
        <i class="mail huge icon"></i>
        <h4 class="ui header">Email</h4>
      </div>
      <div class="item"  data-content="Promote your offers and products through Social Media with a single click, its never easy before.">
        <i class="share alternate huge icon"></i>
        <h4 class="ui header">Social</h4>
      </div>
      <div class="item" data-content="Manage your Businesses online reputation by interacting with your existing customer and proscpects.">
        <i class="student huge icon"></i>
        <h4 class="ui header">Reputation </h4>
      </div>
      <div class="item" data-content="The offer will be waiting for them as soon as they engage with your loyalty program, and you can continue the relationship to bring them back in again and again.">
        <i class="rocket huge icon"></i>
        <h4 class="ui header">Acquisition</h4>
      </div>
      <div class="item" data-content="Members can easily search and find your business when they’re out and about">
        <i class="mobile huge icon"></i>
        <h4 class="ui header">Mobile</h4>
      </div>
      <div class="item" data-content="Access customer demographics and direct communication tools, plus optimize your marketing strategy to fit your business’s unique needs.">
        <i class="database huge icon"></i>
        <h4 class="ui header">Data</h4>
      </div>
      <div class="item" data-content="Dedicated, real &amp; fast support">
        <i class="life ring huge icon"></i>
        <h4 class="ui header">Support</h4>
      </div>
    </div>
  </div>
  <div class="ui container">
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
    <div class="ui header big centered">
      <div class="ui animated fade button red huge cta" tabindex="1">
        <div class="visible content">Start your free trial</div>
        <div class="hidden content">
          Free forever
        </div>
      </div>
    </div>
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
  </div>
</div>
