---
layout: index
---

{% include header.html %}

<div id="fullpage">
  <div class="section masthead">
    <div class="bg"></div>
    <div class="ui stackable center aligned grid container pitch">
      <div class="fourteen wide column">
        <h1 class="ui icon white header">
          Give Loyalty Points to your Customers
        </h1>
        <div class="ui stackable center aligned vertically padded grid">
          <div class="eight wide column">
            <strong class="dimmer">Start giving loyalty points to your customers.</strong>
            <div class="ui hidden divider"></div>
            <div class="ui animated fade button positive big cta" tabindex="0">
              <div class="visible content">30 Days Tree Trial <i class="heart icon red"></i></div>
              <div class="hidden content">
                With all Pro Features
              </div>
            </div>
            <h4 class="ui horizontal divider header text white">OR</h4>
            <a class="ui link white" href="#">compare plans</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section pagetwo">

    <div class="slide">

      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="nine wide column right floated">
              <h3 class="ui header white">Retain Customers &amp; Increase Sales</h3>
              <p>Growing your business takes time, effort and a whole lot of planning. When it comes to technology, the world is evolving at lightning speed. This is especially true when developing a loyalty program.</p>
              <p>To effectively build a winning a loyalty program, retailers must have a partner that not only understands the metrics and analytics driving the technology, but they must have a partner that they can trust to do the job effectively.</p>
            </div>
            <div class="five wide left floated column">
              <img src="public/img/feature_banner.png" class="ui big image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="eight wide column right floated">
              <h3 class="ui header white">Increase Spend Per Visit</h3>
              <p>Our spend-based rewards can get customers spending up to 10% more every time they visit.</p>
            </div>
            <div class="six wide left floated column">
              <img src="public/img/file-server-sync-half-width-module.png" class="ui big image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="nine wide column right floated">
              <h3 class="ui header white">Automate your marketing programs</h3>
              <p>We make it easy for your customers to claim their rewards and earn points by simply scanning their mobile devices, so they’ll keep coming back for more. Never again lose a customer through tiring redemption processes.</p>
            </div>
            <div class="five wide left floated column">
              <img src="assets/images/wireframe/white-image.png" class="ui small bordered rounded image">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
          <div class="row">
            <div class="eight wide column right floated">
              <h3 class="ui header white">Allows customers to engage with you anywhere</h3>
              <div class="ui fluid accordion">
                <div class="active title">
                  <i class="dropdown icon"></i>
                  What is a dog?
                </div>
                <div class="active content">
                  <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  What kinds of dogs are there?
                </div>
                <div class="content">
                  <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  How do you acquire a dog?
                </div>
                <div class="content">
                  <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
                  <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
                </div>
              </div>
            </div>
            <div class="six wide left floated column">
              <img src="assets/images/wireframe/white-image.png" class="ui small bordered rounded image">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section">

    <div class="ui vertical stripe segment">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="ten wide column">
            <h3 class="ui header">How Pegke makes the ‘staying loyal’ part easy</h3>
            <p>Enter the Pegke Customer Loyalty & Rewards Software that not only rewards the customers for their brand loyalty but also makes the customers stay loyal to their favourite franchises. Pegke is an easy-to-use software designed and shaped elegantly by Technopark engineers that is advantageous to both the business and customers. After setting up their account, the business owners are able to set loyalty points for specific sales and are also able to reward customers based on their accumulated points and redeemable items. </p>
          </div>
          <div class="four wide right floated column">
            <img src="assets/images/wireframe/white-image.png" class="ui small bordered rounded image">
          </div>

        </div>
        <div class="row">
          <div class="center aligned column">
            <a class="ui big button">Read More...</a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>"What a Company"</h3>
            <p>That is what they all say about us, amazing company...</p>
          </div>
          <div class="column">

            <div class="ui shape container text">
              <div class="sides">
                <div class="active side">
                  <h4>This side starts visible.</h4>
                  <p>
                    <img src="assets/images/avatar/nan.jpg" class="ui avatar image">
                    <b>Nan</b> Chief Fun Officer Acme Toys
                  </p>
                </div>
                <div class="side">
                  <h3>This side starts visible.</h3>
                  <p>
                    <img src="assets/images/avatar/nan.jpg" class="ui avatar image">
                    <b>Nan</b> Chief Fun Officer Acme Toys
                  </p>
                </div>
                <div class="side">
                  <h4>This side starts visible.</h4>
                  <p>
                    <img src="assets/images/avatar/nan.jpg" class="ui avatar image">
                    <b>Nan</b> Chief Fun Officer Acme Toys
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="ui container">
      <h2 class="ui center aligned header">We work for ALL business types.</h2>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui vertically stackable grid container">

        <div class="three column row">
          <div class="column">
            <h2 class="ui icon header">
              <i class="massive shop icon red"></i>
              <div class="content">
                Retail Sector
                <div class="ui hidden divider"></div>
                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
              </div>
            </h2>
          </div>

          <div class="column">
            <h2 class="ui icon header">
              <i class="shipping icon green"></i>
              <div class="content">
                Products
                <div class="ui hidden divider"></div>
                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
              </div>
            </h2>
          </div>

          <div class="column">
            <h2 class="ui icon header">
              <i class="spy icon blue"></i>
              <div class="content">
                Services Sector
                <div class="ui hidden divider"></div>
                <div class="sub header">Manage your account settings and set e-mail preferences.</div>
              </div>
            </h2>
          </div>
        </div>
      </div>

      <div class="ui stackable center aligned vertically padded grid">
        <div class="eight wide column">
          <div class="ui hidden divider"></div>
          <div class="ui animated fade button positive big cta" tabindex="1">
            <div class="visible content">30 Days Tree Trial <i class="heart icon red"></i></div>
            <div class="hidden content">
              With all Pro Features
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section fp-auto-height">
    {% include footer.html %}
  </div>

</div>


<div class="ui basic modal test">
  <i class="close icon red"></i>
  <form class="ui form segment">
    <p class="ui grey nig header">Tell Us About Yourself</p>
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input placeholder="First Name" name="name" type="text">
      </div>
      <div class="field">
        <div class="field">
          <label>Phone</label>
          <div class="ui labeled icon input">
            <div class="ui label" data-content="We accept merchants from India only." data-variation="very wide">
              <i class="in flag"></i> +91
            </div>
            <input type="tel" name="phone" placeholder="Phone Number">
          </div>
        </div>

      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="email" type="email">
      </div>
      <div class="field">
        <label>Location</label>
        <input placeholder="Your City" type="text" name="city">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Website</label>
        <div class="ui labeled icon input">
          <div class="ui label">
            http(s)://
          </div>
          <input type="text" placeholder="yourdomain.tld">
        </div>
      </div>
      <div class="field">

      </div>
    </div>
    <div class="field">

    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" name="terms" tabindex="0" class="hidden">
        <label>By signing up, you agree to our Terms of Service and Privacy Policy</label>
      </div>
    </div>
    <div class="ui blue submit button">Sign Up</div>
    <div class="ui error message"></div>
  </form>
</div>
{% include footerscripts.html %}
