---
layout: index
permalink: index.html
---

{% include header.html %}
<div id="fullpage">
  <div class="section pageone masthead">
    <div class="ui basic segment center aligned pitch">
      <h1 class="ui white header">Give Loyalty Points to your Customers</h1>
      <h4 class="dimmer">Start giving loyalty points to your customers.</h4>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui green button animated big cta" tabindex="0">
        <div class="visible content">30 Days Free Trial <i class="heart icon red"></i></div>
        <div class="hidden content">
          With all Pro Features
        </div>
      </div>
    </div>
  </div>
  <div class="section pagetwo">
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="seven wide column right floated">
              <h2 class="ui header big">Retain Customers &amp; Increase Sales</h2>
              <p>Growing your business takes time, effort and a whole lot of planning. When it comes to technology, the world is evolving at lightning speed. This is especially true when developing a loyalty program.</p>
              <p>To effectively build a winning a loyalty program, retailers must have a partner that not only understands the metrics and analytics driving the technology, but they must have a partner that they can trust to do the job effectively.</p>
            </div>
            <div class="five wide left floated column">
              <img src="public/img/retain-customers.png" class="ui big image">
            </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="seven wide column right floated">
              <h2 class="ui header big">Increase Spend Per Visit</h2>
              <p>Our spend-based rewards can get customers spending up to 10% more every time they visit.</p>
            </div>
            <div class="six wide left floated column">
              <img src="public/img/spendpervisit.png" class="ui big image">
            </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="seven wide column right floated">
              <h2 class="ui header big">Automate your marketing programs</h2>
              <p>We make it easy for your customers to claim their rewards and earn points by simply scanning their mobile devices, so they’ll keep coming back for more. Never again lose a customer through tiring redemption processes.</p>
            </div>
            <div class="five wide left floated column">
              <img src="public/img/automate-marketing program.png" class="ui big image">
            </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="seven wide column right floated">
              <h2 class="ui header big">Allows customers to engage with you anywhere</h2>
              <div class="ui fluid accordion">
                <div class="title">
                  <i class="dropdown icon"></i>
                  What methods can i use to contact a customer?
                </div>
                <div class="active content">
                  <p>You have half a dozen of options to contact some main ones are email, push messages and sms.</p>
                </div>
                <div class="title">
                  <i class="dropdown icon"></i>
                  How easy is it to do all these?
                </div>
                <div class="content">
                  <p>Our platform is the easiest one available out there, if you ever used Social Media or sent an Email, its as easy as that.</p>
                </div>
              </div>
            </div>
            <div class="six wide left floated column">
              <img src="public/img/customersengage.png" class="ui big image">
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section pagethree">
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="ten wide column">
            <h3 class="ui header big">How Pegke makes the ‘staying loyal’ part easy</h3>
            <p>Enter the Pegke Customer Loyalty & Rewards Software that not only rewards the customers for their brand loyalty but also makes the customers stay loyal to their favourite franchises. Pegke is an easy-to-use software designed and shaped elegantly by Technopark engineers that is advantageous to both the business and customers. After setting up their account, the business owners are able to set loyalty points for specific sales and are also able to reward customers based on their accumulated points and redeemable items. </p>
          </div>
          <div class="four wide right floated column">
            <img src="/public/img/staying-loyal.png" alt="" class="ui medium image">
          </div>
        </div>
      </div>
      <div class="ui divider hidden"></div>
      <div class="ui divider hidden"></div>
    <div class="ui basic quote segment">
      <div class="ui equal width stackable grid">
        <div class="center aligned row">
          <div class="column">
            <div class="ui shape segment basic text">
              <div class="sides">
                <div class="active side">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</h4>
                  <p>
                    <img src="/public/img/steve.jpg" class="ui avatar image">
                    <b>Nan</b> Chief Fun Officer Acme Toys
                  </p>
                </div>
                <div class="side">
                  <h3>This side starts visible.</h3>
                  <p>
                    <img src="/public/img/steve.jpg" class="ui avatar image">
                    <b>Nan</b> Chief Fun Officer Acme Toys
                  </p>
                </div>
                <div class="side">
                  <h4>This side starts visible.</h4>
                  <p>
                    <img src="/public/img/steve.jpg" class="ui avatar image">
                    <b>Nan</b> Chief Fun Officer Acme Toys
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section pagefour">
    <div class="ui container">
      <h3 class="ui center aligned header massive">We work for 3 business types</h3>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="ui vertically stackable grid container biztyps">
        <div class="three column row">
          <div class="column">
            <h2 class="ui icon header">
              <!-- <i class="university icon blue"></i> -->
              <img src="/public/img/banking-finance.png" alt="" class="ui image small" />

              <div class="content">
                Banking & Finance
                <div class="ui hidden divider"></div>
                <div class="sub header feat">Banks and other financial organizations can
                forget the hurdle of managing the loyalty points and the redeemable items
              pegke handle them all, you can chose from the options.</div>
              </div>
            </h2>
          </div>
          <div class="column">
            <h2 class="ui icon header">
              <!-- <i class="shipping icon green"></i> -->
              <img src="public/img/customer-goods.png" alt="" class="ui image small" />
              <div class="content">
                Consumer Goods
                <div class="ui hidden divider"></div>
                <div class="sub header feat">Consumer Goods can easly give loyalty points by
                  simply printing the QR code in the product package which customers
                   can redeem as Mobile recharge or other products.</div>
              </div>
            </h2>
          </div>
          <div class="column">
            <h2 class="ui icon header">
              <!-- <i class="massive shop icon red"></i> -->
              <img src="/public/img/retail-sector.png" alt="" class="ui image small" />
              <div class="content">
                Retail Sector
                <div class="ui hidden divider"></div>
                <div class="sub header feat">As a retail business you can make use of the platfom
                by the email-push-sms campaings and half a dozon of other tools to increase
              spend and revisists.</div>
              </div>
            </h2>
          </div>
        </div>
      </div>
      <div class="ui basic segment center aligned">
        <div class="ui animated fade button positive big cta" tabindex="0">
          <div class="visible content">30 Days Free Trial <i class="heart icon red"></i></div>
          <div class="hidden content">
            With all Pro Features
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section pagefive fp-auto-height">
    {% include footer.html %}
  </div>
</div>
{% include footerscripts.html %}
