---
layout: default
permalink: /pricing/
title: We have a plan just for you
subtitle: Start free with unlimited and pay-as-you-go
---
{% include header.html %}

<div class="ui container">
  {% include blog-header.html %}
</div>

<div class="ui container fluid pricing">
  <div class="ui container">
    <div class="ui stackable two column grid">
      <div class="eight wide column centered">
        <div class="ui divider hidden"></div>
        <div class="ui divider hidden"></div>
        <div class="statistic">
          <div class="price">
            <span class="currency">₹</span>
            <span class="value amt ui ">0.42</span>
          </div>
          <div class="ui grey">user/month</div>
          <div class="ui divider hidden"></div>
          <div class="label">
            <div class="ui buttons costs">
              <button class="ui positive button" data-curr="inr" ><i class="text rupee icon"></i>INR</button>
              <div class="or"></div>
              <button class="ui button" data-curr="usd"><i class="dollar icon"></i>USD</button>
            </div>
          </div>
        </div>
      </div>

      <div class="eight wide column ui text">
        <h3 class="ui header">We only charge when,</h3>
        <div class="ui list">
          <div class="item">
            <div class="ui large left pointing grey basic label">
              You give points
            </div>
          </div>
          <div class="item">
            <div class="ui large left pointing grey basic label">
              Additional Purchases
            </div>
          </div>
          <div class="item">
            <div class="ui large left pointing grey basic label">
              Your customer redeem points
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui contianer fluid calculator">
  <div class="ui container">
    <div class="ui header big centered">
      <div class="ui animated fade button red huge cta" tabindex="1">
        <div class="visible content">Start your free trial</div>
        <div class="hidden content">
          Free forever
        </div>
      </div>
      <br><br>
      Questions? <a itemprop="telephone" href="tel:+{{ site.phone }}">{{ site.phoneno }}</a>

      <div class="ui contianer text">
        <div class="ui divider hidden"></div>
        <h4 class="ui horizontal divider header">
          You will get
        </h4>
        <div class="ui  statistic teal">
          <div class="value">
            <i class="icon info circle"></i>
            4,000
          </div>
          <div class="label">
            Push messages
          </div>
        </div>

        <div class="ui  statistic teal">
          <div class="value">
            <i class="icon send outline"></i>
            1,000
          </div>
          <div class="label">
            Email Messages
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="ui contianer fluid violet pricingrow">
  <div class="ui container">
    <div class="ui stackable two column grid">
      <div class="ten wide column ui text white">
        <h2>Our Pricing Perspective</h2>
        <p>
          We only charge if and only if youre making a sale, no hidden charges clear pricing. We charge only when
        </p>
        <ul>
          <li>When your customer scans the points</li>
          <li>When your customer redeem something</li>
        </ul>
        <p>
          For decades, customer communication software has been a race to the bottom with clunky and cheap solutions that offer far more frustration than value.
          We want to change that by offering you a product that just works.
          And we want it to be a great value for your entire business with a growing lineup of new features, helpful on-boarding, and responsive support.
        </p>
      </div>

      <div class="six wide column">
        <img src="/public/img/pricing-stratergy.svg" alt="Pegke Pricing Perspective" class="ui image medium" />
      </div>

    </div>
  </div>
</div>


<div class="ui contianer fluid pricingrow">
  <div class="ui container">
    <div class="ui stackable two column grid">

      <div class="six wide column">
        <img src="/public/img/invoice.svg" alt="Pegke Pricing Perspective" class="ui image medium" />
      </div>

      <div class="ten wide column ui text">
        <h2>Fair Billing Policy</h2>
        <p>
          Most enterprise software pricing is designed to charge you per customers regardless of how many customers are actively using the software.
        </p>
        <strong>Easy Referral system</strong>
        <p>
          Our easy referral system allows you to earn discount on your monthly usage bill. It is designed in such a way that you and your referral earn something valuable by using the software.
        </p>

      </div>
    </div>
  </div>
</div>
