---
layout: default
permalink: /pricing/
title: We have a plan just for you
subtitle: Start free with unlimited and pay-as-you-go
---
{% include header.html %}

<div class="ui container">
  {% include blog-header.html %}
</div>

<div class="ui container fluid pricing">
  <div class="ui container">
    <div class="ui stackable two column grid">
      <div class="eight wide column centered">
        <div class="ui divider hidden"></div>
        <div class="ui divider hidden"></div>
        <div class="statistic">
          <div class="price">
            <span class="currency">₹</span>
            <span class="value amt ui ">0.42</span>
          </div>
          <div class="ui grey">per request</div>
          <div class="ui divider hidden"></div>
          <div class="label">
            <div class="ui buttons costs">
              <button class="ui positive button" data-curr="inr" ><i class="text rupee icon"></i>INR</button>
              <div class="or"></div>
              <button class="ui button" data-curr="usd"><i class="dollar icon"></i>USD</button>
            </div>
          </div>
        </div>
      </div>

      <div class="eight wide column ui text">
        <h3 class="ui header">We only charge when,</h3>
        <div class="ui list">
          <div class="item">
            <div class="ui large left pointing grey basic label">
              You give points
            </div>
          </div>
          <div class="item">
            <div class="ui large left pointing grey basic label">
              Additional Purchases
            </div>
          </div>
          <div class="item">
            <div class="ui large left pointing grey basic label">
              Your customer redeem points
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="ui hidden divider header">
  </h4>
</div>

<div class="ui contianer fluid calculator">
  <div class="ui container">


    <div class="ui header big centered">
      <div class="ui animated fade button red huge cta" tabindex="1">
        <div class="visible content">Start your free trial</div>
        <div class="hidden content">
          Free forever
        </div>
      </div>
      <br><br>
      Questions? <a href="tel:+914714000056">+91 471-400-0056</a>

      <div class="ui contianer text">
        <div class="ui divider hidden"></div>
        <h4 class="ui horizontal divider header">
          You will get
        </h4>
        <div class="ui  statistic teal">
          <div class="value">
            <i class="icon info circle"></i>
            4,000
          </div>
          <div class="label">
            Push messages
          </div>
        </div>

        <div class="ui  statistic teal">
          <div class="value">
            <i class="icon send outline"></i>
            1,000
          </div>
          <div class="label">
            Email Messages
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="ui contianer fluid violet pricingrow">
  <div class="ui container">
    <div class="ui stackable two column grid">
      <div class="ten wide column ui text white">
        <h2>Our Pricing Perspective</h2>
        <p>
          Team communication is at the heart of every business. It’s the thing that
          connects your entire organization and has the biggest impact on your culture
          and productivity.
        </p>
        <p>
          For decades, team communication software has been a race to the bottom with clunky and
          cheap solutions that offer far more frustration than value.
          We want to change that by offering you a product that just works.
          And we want it to be a great value for your entire organization — with a growing lineup of new features, helpful on-boarding, and responsive support.
        </p>
        <p>
          For decades, team communication software has been a race to the bottom with clunky and
          cheap solutions that offer far more frustration than value.
          We want to change that by offering you a product that just works.
          And we want it to be a great value for your entire organization — with a growing lineup of new features, helpful on-boarding, and responsive support.
        </p>
      </div>

      <div class="six wide column">
        <img src="/public/img/purple_rocket.png" alt="Pegke Pricing Perspective" class="ui image fluid" />
      </div>

    </div>
  </div>
</div>


<div class="ui contianer fluid pricingrow">
  <div class="ui container">
    <div class="ui stackable two column grid">

      <div class="six wide column">
        <img src="/public/img/invoice.png" alt="Pegke Pricing Perspective" class="ui image fluid" />
      </div>

      <div class="ten wide column ui text">
        <h2>Fair Billing Policy</h2>
        <p>
          Most enterprise software pricing is designed to charge you per user regardless
          of how many people on your team are actively using the software.
          If you buy 1,000 seats but only use 100, you still get charged for 1,000.
          We don’t think that’s fair. And it’s also hard to predict how many seats you’ll
          need in advance.
        </p>

      </div>
    </div>
  </div>
</div>

{% include signup-form.html %}
