@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .small.monitor.only,
  .large.monitor.only {
    display: none !important;
  }
  .ui.headerimg {
    min-height: 130px;
    margin-top: 85px !important;
  }
  .ui.huge.header {
    font-size: 2.1rem
  }
  h2 {
    font-size: 1.8rem
  }
  .ui.container.pegke {
    width: 100% !important;
  }
  .pitch h1.header {
    font-size: 2rem !important;
  }
  .pagetwo .ui.vertical.stripe h3 {
    font-size: 2rem !important
  }
  .ui.vertical.stripe p {
    font-size: 1em;
  }
  .fp-controlArrow {
    display: none;
    visibility: hidden;
  }
  .cbp-ig-grid .cbp-ig-category {
    color: #47a3da;
    display: block;
    opacity: 1;
  }
  .cbp-ig-grid li > a:hover .cbp-ig-category {
    color: #fff !important;
  }
  html, body {
    min-height: 100% !important;
  }

  div.ui.segment.pitch {
    top: 45%;
    position: absolute;
    display: block;
    width: 100%;
    z-index: 990;
  }

  div.section {
    min-height: 100vh;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0;
  }

  .front #header {
    background: #FFF;
    z-index: 999;
  }
  .pagetwo {
    background: #F8E985;
  }
  .pagethree {
    background: #DEEEEB;
  }
  .pagefour {
    background: #ECF2F2;
  }
  .pagefive {
    background: #222 !important;
  }
  .ui.footer.segment,
  .footer.segment.inverted {
    margin: 0;
    padding: 0
  }
  .ui.vertical.stripe {
    padding: 20px 0;
  }
  .mobile .pagetwo .white, .mobile .pagetwo.white {
    color: #323232 !important;
  }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .small.monitor.only,
  .large.monitor.only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .small.monitor.hidden,
  .large.monitor.only {
    display: none !important;
  }
  .ui.headerimg {
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    display:box;
    box-pack:center;
    box-align:center;
  }
}
@media only screen and (min-width: 1200px) {
  .mobile.only,
  .tablet.only,
  .small.monitor.only,
  .large.monitor.hidden {
    display: none !important;
  }
  .ui.headerimg {
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    display:box;
    box-pack:center;
    box-align:center;
  }
}
