<div itemscope itemtype="http://schema.org/Organization">
  <a itemprop="url" href="https://pegke.com"><div itemprop="name"><strong>{{ site.productname }}</strong></div>
  </a>
  <img src="https://pegke.com/assets/customer-loyalty-program.png" itemprop="image" class="ohidden" alt="Pegke Loyalty"/>
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">G3B, Thejaswini</span><br>
    <span itemprop="postOfficeBoxNumber">Technopark Campus</span><br>
    <span itemprop="addressLocality">Trivandrum</span><br>
    <span itemprop="addressRegion">Kerala</span> -
    <span itemprop="postalCode">695581</span><br>
    <span itemprop="addressCountry">India</span><br><br>
    <a itemprop="email" href="mailto:hello@pegke.com">hello@pegke.com</a><br>
    <i class="in flag"></i><a itemprop="telephone" href="tel:{{ site.phone }}">{{ site.phoneno }}</a>
  </div>
</div>
