<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="/" class="item">Home</a>
          <a href="/pricing" class="item">Pricing</a>
          {% assign sitePages = site.posts | where:'type', 'page' | sort: 'title', 'last' %}
          {% for post in sitePages %}
          <a href="{{ post.url }}" class="item" title="{{ post.title }}">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          {% assign siteBiz = site.posts | where:'type', 'biztype' %}
          {% for post in siteBiz %}
          <a href="{{ post.url }}" class="item" title="{{ post.title }}">{{ post.title | truncate:25 }}</a>
          {% endfor %}
          <h4 class="ui inverted header">Options</h4>
          <a href="{% post_url 2016-03-03-redeem-options %}#mobile-recharge" class="item">Mobile Recharge</a>
          <a href="{% post_url 2016-03-03-redeem-options %}#own-products" class="item">Own Products</a>
          <a href="{% post_url 2016-03-03-redeem-options %}#gift-vouchers" class="item">Gift Vouchers</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Blogs</h4>
        <div class="ui inverted link list">
          <a href="/blog/" class="item" title="Pegke Blogs">Pegke Blogs</a>
          <a href="/blog/categories" class="item" title="Categories and Tags">Categories and Tags</a>

          {% assign siteBlogs = site.posts | where:'type', 'blog' %}
          {% for post in siteBlogs limit:6 %}
          <a href="{{ post.url }}" class="item" title="{{ post.title }}">{{ post.title | truncate:25 }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui inverted header">System</h4>
        <div class="ui inverted link list">
          <a class="item" href="{% post_url 2015-11-22-api %}">API</a>
          <a href="{% post_url 2015-11-25-status %}" class="ui inverted link item">System Status</a>
          <a class="item" href="{% post_url 2015-12-10-stack %}">Technology Stack</a>
        </div>
        <div class="ui divider hidden"></div>
        <h4 class="ui inverted header">Social</h4>
        {% include social-buttons.html %}
        <div class="ui inverted link list">
          <a href="mailto:hello@pegke.com" class="item"><i class="send icon"></i>hello@pegke.com</a>
          <a href="tel:+{{ site.phone }}" class="item"><i class="phone icon"></i> {{ site.phoneno }}</a>
        </div>

      </div>
    </div>
  </div>
  <div class="ui left aligned container grey small">
    <div class="ui divider hidden"></div>
    &copy; 2016 - <dfn><abbr title="{{ site.title }}">{{ site.productname }}</abbr></dfn> ❤︎ <br>
  </div>
</div>
