{% include signup-form.html %}

{% if page.permalink == 'index.html' %}
<script>
head.load(
  "{{ "/public/css/pegke-front.min.css" | prepend: site.baseurl }}",
  "{{ "/public/js/semanticjs.front.min.js" | prepend: site.baseurl }}"
);
head.ready(function () {
  $('#header').removeClass('box-shadow');
  $(window).scroll(function() {
    if ($(this).scrollTop() > 400) {
      $('#header').addClass('box-shadow');
    } else {
      $('#header').removeClass('box-shadow');
    }
  });
  if(! head.mobile) {
    $('#fullpage').fullpage({
      animateAnchor: true,
      scrollOverflow: true,
      navigationTooltips: ['home', 'benefits', 'testimonials', 'businesses', 'footer'],
      navigation: true,
      navigationPosition: 'right',
      sectionsColor: ['#000', '#F8E985', '#DEEEEB', 'ECF2F2', '#222222'],
    });
  }
});
</script>
{% elsif page.permalink == '/api/' %}
<script>
head.load(
  "{{ "/public/css/pegke-api.min.css" | prepend: site.baseurl }}",
  "{{ "/public/js/semanticjs.api.min.js" | prepend: site.baseurl }}"
);
head.ready(function () {
  $(document).ready(function() {
    $(".hashnav").scrollspy();
    $('.hashnav a').click(function() {
      $('.hashnav a').removeClass('active');
      $(this).addClass('active');
      $('html, body').animate({
        scrollTop: $($(this).attr('href')).offset().top - 80
      }, 200);
    });
  });
});
</script>
{% else %}
<script>
head.load(
  "{{ "/public/css/pegke-page.min.css" | prepend: site.baseurl }}",
  "{{ "/public/js/semanticjs.min.js" | prepend: site.baseurl }}"
);
</script>
{% endif %}

<script type="text/javascript">
head.ready(function () {
  $('.cta').click(function() {
    $('.ui.modal.signup').modal('show');
  });
  $(document).ready(function() {
    $('.costs button').click(function() {
      $('.costs button').removeClass('positive');
      var selcur = $(this).attr('data-curr');
      $(this).addClass('positive');
      if( selcur == 'usd' ) {
        $('.currency').text('$');
        animateUpdate(0.42, 0.006, 3, 'amt');
      } else if( selcur == 'inr' ) {
        $('.currency').text('₹');
        animateUpdate(0.006, 0.42, 2, 'amt');
      }
    });

    $('.entcosts button').click(function() {
      $('.entcosts button').removeClass('positive');
      var selcur = $(this).attr('data-curr');
      $(this).addClass('positive');
      if( selcur == 'usd' ) {
        $('.entcurrency').text('$');
        animateUpdate(0.62, 0.008, 3, 'entamt');
      } else if( selcur == 'inr' ) {
        $('.entcurrency').text('₹');
        animateUpdate(0.008, 0.62, 2, 'entamt');
      }
    });

    function animateUpdate(fromVal, toVal, roundVal, elm) {
      jQuery({ Counter: 0 }).animate({ Counter: toVal }, {
        duration: 1000,
        easing: 'swing',
        step: function () {
          $('.'+ elm).text(parseFloat(this.Counter).toFixed(roundVal));
        }
      });
    }
    var pathname = window.location.pathname;
    var desired = pathname.replace(/[^\w\s]/gi, '')
    $(".menu.right a, .mobilemenu a, .footer").each(function(index) {
      var ahref = ($(this).attr('href')) ? $(this).attr('href') : 'not';
      var thishref = ahref.replace(/[^\w\s]/gi, '');
      if (desired === thishref ) {
        $(this).addClass("active");
      }
    });
    $(window).scroll(function() {
      if ($(this).scrollTop() > 400) {
        $('.go-top').fadeIn(400);
      } else {
        $('.go-top').fadeOut(400);
      }
    });
    $('.go-top').click(function(event) {
      event.preventDefault();
      $('html, body').animate({scrollTop: 0}, 300);
    })
  });

  $('.menu .item')
    .tab()
  ;

  $('.ui.dropdown').dropdown();
  $('.ui.checkbox').checkbox();
  $('.ui.accordion').accordion();
  $('.ui.sticky')
  .sticky({
    context: '#context',
    offset: 75
  });
  // $('.ui.label').popup();
  $('.rupee.icon').popup();
  $('.feature-list .item').popup();
  $('.tstack').popup();
  $('.ui.rating').rating();
  // setInterval(function(){
  //   $('.shape').shape('flip over');
  // }, 3000);
  $('.ui.form')
  .form({
    fields: {
      name: {
        identifier: 'name',
        rules: [{
          type: 'empty',
          prompt: 'Please enter your name'
        }]
      },
      phone: {
        identifier: 'phone',
        rules: [{
          type: 'minLength[10]',
          prompt: 'Your 10 digit Mobile Number'
        }, {
          type: 'number',
          prompt: 'Numbers Only'
        }, {
          type: 'maxLength[10]',
          prompt: 'Your 10 digit Mobile Number'
        }]
      },
      country: {
        identifier: 'country',
        rules: [{
          type: 'empty',
          prompt: 'Please chose your country'
        }]
      },
      email: {
        identifier: 'email',
        rules: [{
          type: 'email',
          prompt : 'Please enter a valid e-mail'
        }]
      },
      city: {
        identifier: 'city',
        rules: [{
          type: 'empty',
          prompt: 'Please enter your city'
        }]
      },
      terms: {
        identifier: 'terms',
        rules: [{
          type: 'checked',
          prompt: 'You must agree to the terms and conditions'
        }]
      }
    }
  });
  $('#support')
  .form({
    fields: {
      email: {
        identifier: 'email',
        rules: [{
          type: 'email',
          prompt : 'Please enter a valid e-mail'
        }]
      },
      details: {
        identifier: 'details',
        rules: [{
          type: 'empty',
          prompt: 'Tell us your concern !!'
        }]
      },
    }
  });
  $('#sg-sup-form')
  .form({
    fields: {
      email: {
        identifier: 'sg-email',
        rules: [{
          type: 'email',
          prompt : 'Please enter a valid e-mail'
        }]
      }
    }
  });
  $('.step .image, .stack .image, .lazy')
  .visibility({
    type       : 'image',
    transition : 'pulse',
    duration   : 1000
  })
  ;
  $('#hamb').click(function() {
    $('.ui.submenu.modal')
    .modal('show');
  });
  // $('#checkpoints').on('submit', function(e) {
  //   e.preventDefault();
  //   var el = $(this);
  //   $('#sbmit').addClass('loading');
  //   // el.addClass.attr('disabled', "true");
  // });
  $('#sg-signup').click(function() {
    $(this).addClass('loading');
    $('#sg-email').attr('disabled', "true");

    setTimeout(function() {
      $('#sg-signup').removeClass('loading');
      $('#sg-email').removeAttr('disabled');
      $('#sg-msg').text('thanks...').removeClass('ohidden');
    }, 3000);

  });

  $('#checkpoints')
  .form({
    fields: {
      phone: {
        identifier: 'phone',
        rules: [{
          type: 'empty',
        }, {
          type: 'exactLength[10]',
        }, {
          type: 'number',
        }]
      },
      country: {
        identifier: 'country',
        rules: [{
          type: 'empty',
          prompt: 'Please chose your country'
        }]
      },
      // dob: {
      //   identifier: 'dob',
      //   rules: [{
      //     type: 'empty',
      //   },
      // {
      // type: 'regExp[/^d{2}([./-])d{2}1d{4}$/]'
      // }
      // ]
      // },
    }
  });

});
</script>
<script>(function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=+new Date;g=o.createElement('script'),l=o.scripts[0];g.src='https://www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));ga('create', 'UA-38015473-1', 'pegke.com');ga('require', 'displayfeatures');ga('set', '&uid', 0);ga('send', 'pageview')</script>
