<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js"></script>
  <script>
    head.load(
     "{{ "/bower_components/semantic/dist/semantic.min.css" | prepend: site.baseurl }}",
     "{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}",
     "{{ "/bower_components/semantic/dist/semantic.min.js" | prepend: site.baseurl }}",
     "{{ "/public/js/jquery.ajaxchimp.js" | prepend: site.baseurl }}",
     "{{ "/bower_components/fullpage.js/vendors/jquery.slimscroll.min.js" | prepend: site.baseurl }}",
     "{{ "/bower_components/fullpage.js/jquery.fullPage.min.js" | prepend: site.baseurl }}",
     "{{ "/public/js/scrollspy.js" | prepend: site.baseurl }}",
     "https://cdn.jsdelivr.net/highlight.js/9.0.0/styles/default.min.css",
     "https://cdn.jsdelivr.net/highlight.js/9.0.0/highlight.min.js",
     "{{ "/bower_components/fullpage.js/jquery.fullPage.css" | prepend: site.baseurl }}",
     "{{ "/public/css/style.css" | prepend: site.baseurl }}",
     "{{ "/public/css/responsive.css" | prepend: site.baseurl }}"
   );
  </script>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% include meta-share.html %}
</head>
