<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% if page.permalink != 'index.html' %}{{ site.productname | prepend: ' &#8226; ' }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }} {% else %} {{ page.title | append: ', ' | append: site.keywords }} {% endif %}">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{{ site.productname }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="msapplication-tap-highlight" content="no">

  <style>
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 1000;
    padding: 25% 50%;
  }
  </style>

  <link rel="shortlink" href="http://bit.ly/pegkeweb">
  <link rel="preload" href="{{ "/public/img/1.jpg" | prepend: site.baseurl }}">

  <script src="{{ "/public/js/head.min.js" | prepend: site.baseurl }}"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.productname }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="sitemap" title="Sitemap" type="application/xml" href="{{ "/sitemap.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% include meta-share.html %}

  <!--  Favicons -->
  {% include favicons.html %}
</head>
