<div id="header" class="box-shadow">
  <div class="ui container nav">
    <div class="ui secondary menu">
      <a href="/"><img src="{{ "/public/img/pegke-logo.svg" | prepend: site.baseurl }}" alt="{{ site.productname }} Logo" width="140" /></a>
      <div class="menu right large monitor only">
        <a href="/pricing" class="item ui button red">PRICING</a>
        <a href="/features" class="item ui button red">FEATURES</a>
        <a href="/how-it-works" class="item ui button red">HOW IT WORKS</a>
        <div class="item">
          <div class="ui medium buttons">
            <a class="ui button red cta" href="#signup">sign up</a>
            <div class="or"></div>
            <a class="ui button blue" href="tel:+914714000056">demo</a>
          </div>
        </div>
      </div>
      <div class="menu right mobile only">
        <a href="javascript:void(0);" class="ui text grey nav"><i class="icon big sidebar" id="hamb"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="ui basic modal submenu">
  <div class="content">
    <div class="ui vertical fluid menu mobilemenu">
      <a href="/pricing" class="active item red"><i class="gamepad icon"></i> PRICING</a>
      <a href="/features" class="item">FEATURES</a>
      <a href="/how-it-works" class="item">HOW IT WORKS</a>
    </div>
    <div class="ui divider hidden"></div>
    <div class="ui divider horizontal inverted">Join now</div>
    <div class="ui fluid action input">
      <input id="sg-email" type="email" name="sg-email" placeholder="Email..." required>
      <button class="ui button green" type="submit" name="signup" id="sg-signup">Sign Up</button>
    </div>
    <div class="ui message success ohidden" id="sg-msg"></div>
  </div>
</div>
