<div id="header" class="box-shadow">
  <div class="ui container nav">
    <div class="ui secondary menu">
      <a href="/"><img src="{{ "/public/img/pegke-logo.svg" | prepend: site.baseurl }}" alt="{{ site.title }}" width="150" /></a>
      <div class="menu right large monitor only">
        <a href="/pricing" class="item ui button red">PRICING</a>
        <a href="/features" class="item ui button red">FEATURES</a>
        <a href="/how-it-works" class="item ui button red">HOW IT WORKS</a>
        <div class="item">
          <div class="ui tiny buttons">
            <a class="ui button red cta" href="#signup">sign up</a>
            <div class="or"></div>
            <a class="ui button blue" href="tel:+914714000056">demo</a>
          </div>
        </div>
      </div>
      <div class="menu right mobile only">
        <i class="icon big sidebar" id="hamb"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui basic modal submenu">
  <div class="content">
    <div class="ui inverted secondary vertical fluid menu">
      <a href="/pricing" class="item red">PRICING</a>
      <a href="/features" class="item red">FEATURES</a>
      <a href="/how-it-works" class="item red">HOW IT WORKS</a>
    </div>
  </div>

</div>
