<h4>Quick Links</h4>
<ul class="ui bulleted list">
  <li><a class="item" target="_blank" href="https://github.com/{{ site.github_username }}">GitHub</a></li>
  <li><a class="item" href="{% post_url 2015-10-04-support %}">Support</a></li>
  <li><a class="item" href="{% post_url 2015-11-25-careers %}">Join Our Team</a></li>
  <li><a class="item" href="{% post_url 2015-11-22-api %}">API</a></li>
  <li><a href="{% post_url 2015-11-22-api-faq %}" class="item">Developer FAQ</a></li>
</ul>
<div class="ui divider hidden"></div>
