<h4>Quick Links</h4>
<div class="ui bulleted list">
  <a class="item" target="_blank" href="https://github.com/{{ site.github_username }}">GitHub</a>
  <a class="item" href="{% post_url 2015-12-10-brand %}">Brand Guidelines</a>
  <a class="item" href="{% post_url 2015-12-10-stack %}">Technology stack</a>
  <a class="item" href="{% post_url 2015-10-04-support %}">Support</a>
  <a class="item" href="{% post_url 2015-11-25-careers %}">Join Our Team</a>
  <a class="item" href="{% post_url 2015-11-22-api %}">API</a>
  <a href="{% post_url 2015-11-22-api-faq %}" class="item">Developer FAQ</a>
</div>
<div class="ui divider hidden"></div>
