<div class="ui basic modal signup">
  <i class="close icon red"></i>
  <form class="ui form segment green">
    <h3 class="ui grey big header">Tell Us About Yourself</h3>
    <div class="two fields">
      <div class="field">
        <label>Business Name</label>
        <input placeholder="Name of your Business" name="name" type="text">
      </div>
      <div class="field">
        <div class="field">
          <label>Phone</label>
          <div class="ui input">
            <input type="tel" name="phone" placeholder="Phone Number">
          </div>
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="email" type="email">
      </div>
      <div class="field">
        <label>Location</label>
        <input placeholder="Your City" type="text" name="city">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Website</label>
        <div class="ui labeled icon input">
          <div class="ui label">
            http(s)://
          </div>
          <input type="text" placeholder="example.com">
        </div>
      </div>
      <div class="field">
        <label>Location</label>

        <div class="ui search selection dropdown">
          <input type="hidden" name="country">
          <i class="dropdown icon"></i>
          <div class="default text">Select Country</div>
          {% include country-dropdown.html %}
        </div>
      </div>
    </div>
    <div class="field">
    </div>
    <div class="inline field">
        <label>Signing up signifies you’ve read and agree to our <a href="{% post_url 2015-11-15-privacy-policy %}">Terms of Service and Privacy Policy</a></label>
    </div>
    <div class="ui blue submit button">Create Your Account</div>
  </form>
</div>
