<div class="ui basic modal signup">
  <i class="close icon red"></i>
  <form class="ui form segment green">
    <h3 class="ui grey big header">Tell Us About Yourself</h3>
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input placeholder="First Name" name="name" type="text">
      </div>
      <div class="field">
        <div class="field">
          <label>Phone</label>
          <div class="ui labeled icon input">
            <div class="ui label" data-content="We accept merchants from India only." data-variation="very wide">
              <i class="in flag"></i> +91
            </div>
            <input type="tel" name="phone" placeholder="Phone Number">
          </div>
        </div>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" name="email" type="email">
      </div>
      <div class="field">
        <label>Location</label>
        <input placeholder="Your City" type="text" name="city">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Website</label>
        <div class="ui labeled icon input">
          <div class="ui label">
            http(s)://
          </div>
          <input type="text" placeholder="yourdomain.tld">
        </div>
      </div>
      <div class="field">
      </div>
    </div>
    <div class="field">
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input type="checkbox" name="terms" tabindex="0" class="hidden">
        <label>By signing up, you agree to our Terms of Service and Privacy Policy</label>
      </div>
    </div>
    <div class="ui blue submit button">Sign Up</div>
    <div class="ui error message"></div>
  </form>
</div>
