<h4 class="ui horizontal divider header">
  Subscribe
</h4>
<div class="subscribe">
  <form class="" action="{{ site.mailchimp_url }}" method="post">
    <div class="ui fluid action input">
      <input id="mce-EMAIL" type="text" name="EMAIL" placeholder="Email..." required>
      <input type="text" class="ohidden" name="b_49c28e4c02bbc2d7dfd64815e_20b2bd793b" tabindex="-1" value="" id="40" >
      <button class="ui button" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
    </div>
  </form>
</div>
