body {
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
}
.masthead {
  position: relative;
  background: #333;
  overflow: hidden;
}
.masthead:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url('../img/1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
h1, h2, h3, h4 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -moz-osx-font-smoothing: grayscale;
}
h2, h3, h4 {
  font-weight: 700 !important;
}
.masthead .fp-tableCell {
  position: relative;
  z-index: 20;
  display: block;
}
.white.header, .white {
  color: #FFF !important
}
.dimmer, .post-meta {
  color: #CCC;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #EEE !important;
}
.ui.vertical.stripe {
  padding: 2em 0em;
}
.ui.vertical.stripe .button + h3, .ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.2em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}
.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding: 2em 0;
}
.footer.segment.inverted {
  padding: 3em 0em 5em;
  background: #222 !important;
}
.secondary.pointing.menu .toc.item {
  display: none;
}
.controlArrow.prev {
  left: 150px;
}
.controlArrow.next {
  right: 150px;
}
.fp-viewing-3 #fp-nav ul li a span, .fp-viewing-3 .fp-slidesNav ul li a span, .fp-viewing-2 #fp-nav ul li a span, .fp-viewing-2 .fp-slidesNav ul li a span, .fp-viewing-4 #fp-nav ul li a span, .fp-viewing-4 .fp-slidesNav ul li a span {
  background: #5a5a5a !important;
}
.pitch {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pitch h1.header {
  font-size: 3rem !important;
  text-shadow: 1px 2px 4px #5d5d5d;
}
.ohidden {
  visibility: hidden;
  display: none;
}
.fp-controlArrow {
  font-style: normal;
  border: 0 none !important;
  line-height: 1;
  font-family: "Icon";
  vertical-align: middle;
  font-size: 8em
}
.fp-controlArrow.fp-next {
  right: 65px !important;
}
.fp-controlArrow.fp-prev:before{
  content: "\f104"
}
.fp-controlArrow.fp-prev {
  left: 55px !important;
}
.fp-controlArrow.fp-next:before{
  content: "\f105"
}
.ui.text, p {
  line-height: 1.5;
  font-size: 1.13333333rem
}
.menuinit .sidebar {
  cursor: pointer;
}
.not-front #header {
  background: #FFF;
}
#header {
  position: fixed;
  display: block;
  z-index: 850;
  width: 100%;
  top: 0px;
}
.fp-viewing-0 .box-shadow {
  background: transparent;
  box-shadow: none;
}
.fp-viewing-0 .ui.secondary.menu a {
  color: #FFF;
}
.fp-viewing-2 .ui.secondary.menu a:not(.button),
.fp-viewing-3 .ui.secondary.menu a:not(.button),
.fp-viewing-4 .ui.secondary.menu a:not(.button) {
  color: #333;
}
.olive {
  background-color: olive;
  border: 1px solid olive;
}
.topmenu a.item {
  margin: 5px 0 !important;
  display: block;
}
.box-shadow,
.mobile .box-shadow {
  background-color: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}
.ui.text.menu {
  margin: 0 !important;
}
.ui.headerimg {
  width: 100% !important;
  min-height: 260px;
  height: 260px;
  margin-top: 75px !important;
}
.headerimg .ui.center.aligned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.footer a.item{
  display: block;
  margin: 5px 0;
}
.ui.footer.segment {
  margin-top: 50px
}
.violet {
  background-color: #6a4ca6;
}
.statistic .amt, .entamt {
  font-size: 6rem !important;
  font-weight: 400;
}
.ui.container.fluid.pricing {
  margin-bottom: 50px !important
}
div.eight.wide.column.centered {
  text-align: center;
}
.ui.contianer.fluid.calculator {
  padding: 40px 0;
}
.pricingrow,
.step {
  padding: 50px 0;
}
.feature-list .item {
  text-align: center;
}
.feature-list .item>i.icon {
  padding-right: 0 !important;
  margin-bottom: 5px;
}
.feature-list .item {
  margin: 0 15px;
}

/* General grid styles */
.cbp-ig-grid {
  list-style: none;
  padding: 0 0 50px 0;
  margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before,
.cbp-ig-grid:after {
  content: " ";
  display: table;
}

.cbp-ig-grid:after {
  clear: both;
}

/* grid item */
.cbp-ig-grid li {
  width: 33%;
  float: left;
  height: 420px;
  text-align: center;
  border-top: 1px solid #ddd;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid li:nth-child(-n+3){
  border-top: none;
}

.cbp-ig-grid li:nth-child(3n-1),
.cbp-ig-grid li:nth-child(3n-2) {
  box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.cbp-ig-grid li > a {
  display: block;
  height: 100%;
  color: #47a3da;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  width: 180px;
  padding-top: 15px;
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
  margin: 60px 0 10px 0;
  padding: 20px 0 0 0;
  font-size: 2em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
  content: '';
  position: absolute;
  background: #47a3da;
  width: 160px;
  height: 6px;
  top: 0px;
  left: 50%;
  margin: -10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s;
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  -webkit-transform: translateY(10px);
  -moz-transform: -moz-translateY(10px);
  -ms-transform: -ms-translateY(10px);
  transform: translateY(10px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  -webkit-transition: transform 0.3s, opacity 0.2s;
  width: 95%;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  color: #FFF;
}


.cbp-ig-grid li > a:hover {
  background: #47a3da;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
  color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
  background: #fff;
  margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
  .cbp-ig-grid li {
    width: 50%;
  }

  /* reset the grid lines */
  .cbp-ig-grid li:nth-child(-n+3){
    border-top: 1px solid #ddd;
  }

  .cbp-ig-grid li:nth-child(3n-1),
  .cbp-ig-grid li:nth-child(3n-2) {
    box-shadow: none;
  }

  .cbp-ig-grid li:nth-child(-n+2){
    border-top: none;
  }

  .cbp-ig-grid li:nth-child(2n-1) {
    box-shadow: 1px 0 0 #ddd;
  }
}

@media screen and (max-width: 41.6em) {
  .cbp-ig-grid li {
    width: 100%;
  }

  .cbp-ig-grid li:nth-child(-n+2){
    border-top: 1px solid #ddd;
  }

  .cbp-ig-grid li:nth-child(2n-1) {
    box-shadow: none
  }

  .cbp-ig-grid li:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 25em) {
  .cbp-ig-grid {
    font-size: 80%;
  }

  .cbp-ig-grid .cbp-ig-category {
    margin-top: 20px;
  }
}
a.ui.nav:hover,
a.ui.nav:focus,
a.ui.nav:active {
  outline: 0 none;
}

#nav .active {
  color: red;
}
.ui.segment.pegke {
  width: 78% !important;
  max-width: 78% !important;
  margin: 0 auto;
}
.ui.container.pegke {
  width: 90% !important;
  max-width: 90% !important;
  margin: 0 auto;
}

.fp-viewing-1-0.front #header,
.fp-viewing-1-1.front #header,
.fp-viewing-1-2.front #header,
.fp-viewing-1-3.front #header,
.fp-viewing-2.front #header,
.fp-viewing-3.front #header,
.fp-viewing-4.front #header {
  background-color: #FFF;
}
::-webkit-scrollbar {
  display: none;
}
blockquote.message {
  border-left: 3px solid #4cb992;
  margin-left: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.76);
}
#hamb {
  margin: 15px 2px 0;
}
.currency,
.entcurrency {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  font-size: 2rem;
}
.value {
  font-size: 7rem;
  font-weight: 400;
}
.duration {
  font-size: 0.8rem;
}
.duration:before{
  content: '/';
  margin-right: 2px;
}
.currency,
.duration,
.entcurrency{
  color: #1bbc9d;
}
.ui.secondary.menu:not(.pointing) a.item.active,
.ui.secondary.menu:not(.pointing) a.item:hover {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05) !important;

}
.fp-viewing-0 .ui.secondary.menu a.item:hover {
  background: rgba(255, 255, 255, 0.65) !important
}
.not-front .ui.secondary.menu a.item:hover {
  background: rgba(236, 236, 236, 0.57) !important;
}
.ui.header .sub.header {
  font-size: 0.9em !important;
  color: rgba(0, 0, 0, 0.38)
}
.ui.header .sub.header.tiny {
  font-size: 0.9rem !important;
}
.ui.horizontal.divider {
  line-height: 1.3;
}
.label.tags {
  margin-bottom: 7px;
}
.biztyps .sub.header.feat {
  font-size: 1rem !important;
  line-height: 22px;
}
.pagetwo h2.header {
  margin-bottom: 25px;
  margin-bottom: 25px !important;
}
.ui.secondary.menu .item{
  padding: 8px !important;
  margin: 4px !important;
  font-size: 14px !important;
  font-weight: 700;
}
pre {
  border-bottom: 2px solid #999;
}
pre.success {
  background-color: rgba(24, 237, 28, 0.17)
}
pre.fail {
  background-color: rgba(237, 85, 98, 0.17);
}
.front h3.ui.header {
  font-size: 2.3rem !important;
}
div.ui.basic.quote.segment {
  background-image: url(../img/quote.png) !important;
  background-repeat: no-repeat !important;
  background-position-x: 8% !important;
}
.ui.button.cta {
  font-weight: 400 !important;
}
.ui.secondary.pointing.menu.pricingtab {
  border-bottom: 0 none;
}
.pricingtab ~ .tab {
  min-height: 175px;
}
.blog .ui.huge.header {
  font-size: 2.3em;
}
.tagss .label {
  margin:10px 5px 0;
  display: inline-block;
}
div.series + ol, div.source + ul {
  border-top: 3px solid orange;
  padding: 20px 0 20px 45px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(159, 159, 159, 0.15);
}
div.source + ul {
  font-size: 13px !important;
}

article ~ p:first-child:first-letter {
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

article blockquote, blockquote p {
  font-size: 25px;
  margin-left: -1.375px;
  line-height: 1.5;
  letter-spacing: -0.008em;
  padding-left: 30px;
  font-style: italic;
}
.ui.grid.secns {
  margin: 3rem 0 !important;
}
.ui.highlight {
  border-top: 5px solid #666;
  border-bottom: 1px solid #666;
  margin: 40px 0;
  padding: 5px 0 10px;
  font-size: 2.5rem;
  line-height: 1.1em;
  font-style: italic;
}
.team .ui.fluid.link.card {
  cursor: default !important;
}
.ui.divider.bigger {
  min-height: 50px
}
a i.linkedin.icon {
  display: block !important;
  visibility: visible;
}
.card .center {
  padding: 0 5px;
  line-height: 22px;
}
.fp-viewing-4 .downarrow {
  display: none;
  visibility: hidden;
}
.downarrow{
  text-align: center;
  position: fixed;
  bottom: 0;
  color: white;
  left: 50%;
  -webkit-animation: mymove 2s;  /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: 8;  /* Chrome, Safari, Opera */
  animation: mymove 2s;
  animation-iteration-count: 8;
  z-index: 3
}
@-webkit-keyframes mymove {
  from {bottom: 40px;}
  to {bottom: 10px;}
}

@keyframes mymove {
  from {bottom: 40px;}
  to {bottom: 10px;}
}
