---
layout: default
---
{% include header.html %}

<div class="ui container blog">
  {% include blog-header.html %}
  <div class="ui stackable grid">
    <article class="eleven wide column" id="context" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="ui text" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
    <div class="five wide column">

      <div class="ui rail">
        <div class="ui sticky">

          <div class="related ui segment">
            <h3>Related Posts</h3>
            <ul class="ui list">
              {% for post in site.posts limit:8 %}
              {% if post.type == 'blog' %}
              <li><a href="{{ post.url }}" class="item" title="{{ post.date | date_to_string }}">{{ post.title }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>

          {% include subscribe.html %}

        </div>
      </div>

    </div>
  </div>
</div>
