---
layout: default
---
{% include header.html %}

<div class="ui container blog">
  {% include blog-header.html %}
  <div class="ui stackable grid">
    <article class="eleven wide column" id="context" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="ui text" itemprop="articleBody">
        {{ content }}
      </div>
      {% include disqus.html %}
    </article>

    <div class="five wide column mobile hidden">

      <div class="ui rail">
        <div class="ui sticky">

          {% if page.categories.size > 0 %}
          <div class="ui segment post-tags">
            <h3>Article Tags</h3>
            {% for category in page.categories %}
            <a href="/category/{{ category | downcase | replace:' ', '-' }}">
              <h5 title="All posts tagged {{ category | capitalize }}" class="ui green label header small tags">{{ category | capitalize }}</h5>
            </a>
            {% endfor %}
          </div>

          {% endif %}

          <div class="related ui segment">
            <h3>Related Posts</h3>
            <ul class="ui list">
              {% assign siteBlogs = site.posts | where:'type', 'blog' | limit:2 %}
              {% for post in siteBlogs %}
              <li><a href="{{ post.url }}" class="item" title="{{ post.date | date_to_string }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

          {% include subscribe.html %}

        </div>
      </div>

    </div>
  </div>
</div>
